doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" href="/css/font-awesome.min.css")

  body
    nav
      a(href="/")
        i(class="fa fa-home" aria-hidden="true")
    block content
